<link href="https://fonts.googleapis.com/css?family=Bubbler+One" rel="stylesheet">
body {font-family: 'Bubbler One', sans-serif;}
main {font-family: 'Bubbler One', sans-serif;}
form {font-family: 'Bubbler One', sans-serif;}
h1.fancy-header {color: purple; font-family: 'Bubbler One', sans-serif;}